* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "Playwrite DE Grund", cursive;
  }
  body{

    background-color: rgb(249, 228, 228);
}

  
  button,
  input {
    font: inherit;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    background-color: #f5738460;
    height: 3rem;
    border-radius: 8px;
    padding: 0.2em;
    margin: 0 2em;
  }
  
  .btn{
    background-color: blue;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;

}
.btn:hover{
    background-color: rgb(119, 119, 213);
    cursor: pointer;
    transition:1s;
}
 
  
  .heading {
    background-color: #757761;
    width: 70%;
    margin: 2rem auto;
    text-align: center;
    padding: 2em;
    border-radius: 2em;
    color: antiquewhite;
  }
  
  .heading button {
    margin-top: 1rem;
    background-color: #484a3c;
    color: rgb(228, 149, 45);
  }
  
  .heading button:hover {
    background-color: #3c404a9d;
  }
  
  .img img {
    width: 90%;
    height: 50%;
    border-radius: 2rem;
    margin: 2em;
  }
  
  .searching {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: #fe7289;
    border-radius: 8px;
    padding: 1em;
  }
  
  .searching h2 {
    margin: 1rem;
  }
  
  .searchBar {
    display: inline-block;
    padding: 2px;
    border-radius: 8px;
    border: 2px solid #757761;
  }
  
  .searchBar button {
    margin: 5px;
  }
  
  .searchBar input,
  .searchBar input:hover,
  .searchBar input:focus,
  .searchBar input:active {
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  .card {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 1.5rem auto;
  }
  
  .cardItem {
    text-align: center;
    max-width: 30%;
    min-width: 17rem;
    margin: 0.5rem;
    padding: 0.5em;
    border-radius: 8px;
  }
  
  .cardItem:hover {
    background-color: rgba(204, 214, 211, 0.699);
  }
  
  .imgDiv {
    height: 15rem;
    width: 13em;
    margin: 0 auto;
  }
  
  .cardItem img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
  
  .price {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .hidden {
    display: none;
  }
  
  .loading {
    margin: 5rem auto;
  }
  
  /* HTML: <div class="loader"></div> */
  .loader {
    width: 90px;
    height: 12px;
    --c: #c58686 50%, #45404000 0;
    background: linear-gradient(90deg, var(--c)) 0 0,
      linear-gradient(-90deg, var(--c)) 0 0;
    background-size: 20px 100%;
    background-repeat: repeat-x;
    animation: l10 1s infinite linear;
  }
  @keyframes l10 {
    100% {
      background-position: -20px 0, 20px 0;
    }
  }
  
  footer {
    background-color: #292b23;
    color: #e8ebd9;
    padding: 5rem 2rem;
  }
  
  .footerDiv {
    display: flex;
    margin-top: 2rem;
  }
  
  .footerDiv ul {
    padding: 1rem;
    list-style-type: none;
    width: 50%;
  }
  
  .marginRight {
    border-right: 2px solid white;
  }
  #highlights-sections{
    border: 2px rgb(185, 206, 194);
    width: 70%;
    margin: 50px auto;
}
#highlights-sections>h2{
    font-size: 50px;
    font font-weight: 800;
    text-align:center;
    text-shadow: 2px 2px #FF0000;
    margin- bottom :25px;
}
#highlights-sections>p{
    margin: 0 auto;
    width: 50%;
    color: rgb(89,85,85);
    text-align: center;
}